## Given below is a DataFrame df:
```
    import pandas as pd

    df = pd.DataFrame([[0.23,'f1'],[5.36,'f2']],
                      index = list('pq'),
                        columns = list('ab'))
```

In [46]:
import pandas as pd

df = pd.DataFrame([[0.23,'f1'],[5.36,'f2']],
                    index = list('pq'),
                    columns = list('ab'))
print(df)

      a   b
p  0.23  f1
q  5.36  f2

## Do the following:

### Q.1. Change the column name from ' a' to ' A'.

In [47]:
df.columns = ['A', 'b']
print(df)

      A   b
p  0.23  f1
q  5.36  f2

### Q.2 Add a new column 'c' filled with random values.

In [48]:
import numpy as np
df['c'] = np.random.randint(1, 100, size = len(df))
print(df)

      A   b   c
p  0.23  f1  33
q  5.36  f2  61

### Q.3 Change the datatype of column ' A' values to complex.

In [49]:
print(df.dtypes)

A    float64
b     object
c      int32
dtype: object

In [50]:
df['A'] = df['A'].astype(complex)
print(df.dtypes)

A    complex128
b        object
c         int32
dtype: object

### Q.4 Display rows whose any of the element matches with any element of the given list:
```
    lst = ['f30','f50','f2','f0'] 
```

In [51]:
lst = ['f30','f50','f2','f0']

**We can use combination of the .isin() method to find matches and the .any() method to check each row for a match.**

In [52]:
# We first create a boolean map to check is there is any matching values.
match_map = df.isin(lst)
print(match_map)

       A      b      c
p  False  False  False
q  False   True  False

In [53]:
# Then we select the particular row by checking horizontally (axis = 1)
row_select = match_map.any(axis = 1)
print(row_select)

p    False
q     True
dtype: bool

In [54]:
# Finally we apply the select to original DataFrame
result = df[row_select]
print(result)

            A   b   c
q  5.36+0.00j  f2  61