## Consider a dataframe df given below:
```
import pandas as pd
df = pd.DataFrame([[18,10,5,11,-2],
                    [2,-2,9,-11,3],
                    [-4,6,-19,2,1],
                    [3,-14,1,-2,8],
                    [-2,2,4,6,13]],
                index = list('pqrst'),
                    columns = list('abcde'))
```

In [33]:
import pandas as pd
df = pd.DataFrame([[18,10,5,11,-2],
                    [2,-2,9,-11,3],
                    [-4,6,-19,2,1],
                    [3,-14,1,-2,8],
                    [-2,2,4,6,13]],
                index = list('pqrst'),
                    columns = list('abcde'))
print(df)

    a   b   c   d   e
p  18  10   5  11  -2
q   2  -2   9 -11   3
r  -4   6 -19   2   1
s   3 -14   1  -2   8
t  -2   2   4   6  13

## Complete the following tasks:

### Q. 1 Extract the rows whose total sum is even. Next, save this dataframe into a new dataframe named new_df . Copy this dataframe to an excel file named file_df.xlsx under Sheet 1.

In [34]:
# We first Filter rows with even sums and create new_df
# We use .copy() to ensure new_df is an independent object
new_df = df[df.sum(axis=1) % 2 == 0].copy()
print(new_df)

    a   b   c   d  e
p  18  10   5  11 -2
r  -4   6 -19   2  1
s   3 -14   1  -2  8

In [35]:
# Next we save new_df file to Excel
new_df.to_excel('file_df.xlsx', sheet_name = 'Sheet 1')

### Q. 2 Copy new_df dataframe into a new dataframe df_temp. Append a new column named as 'm' to the df_temp dataframe which defines the multiplication of each element in one row. Save this dataframe in Sheet 2 of file_df excel file.

In [36]:
# Copy new_df to df_temp
df_temp = new_df.copy()
print(df_temp)

    a   b   c   d  e
p  18  10   5  11 -2
r  -4   6 -19   2  1
s   3 -14   1  -2  8

In [37]:
# Append the new column 'm' using eval()
# This evaluates the string expression row by row
df_temp['m'] = temp_df.eval('a * b * c * d * e')
print(df_temp)

    a   b   c   d  e      m
p  18  10   5  11 -2 -19800
r  -4   6 -19   2  1    912
s   3 -14   1  -2  8    672

In [38]:
# Save df_temp to 'Sheet 2' using the manual writer method

# Open the writer in append mode
writer = pd.ExcelWriter('file_df.xlsx', mode='a')
    
# Write the dataframe to the new sheet
df_temp.to_excel(writer, sheet_name = 'Sheet 2')

if 'writer' in locals():
        writer.close()