In [23]:
import pandas as pd

# Selection types

## 1. Selection by Position

**The .loc attribute is the governing parameter to select data by a label.  
Slicing is performed based on the label of the index.**

In [24]:
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = list('ABC'),
                    columns = list('DE'))
print(df)

    D   E
A  15  12
B  33  54
C  10  32

In [25]:
print(df.loc[['A','C'],:]) # Returns index (row) named 'A' and 'C'

    D   E
A  15  12
C  10  32

In [26]:
print(df.loc[:,'E']) # Returns column named 'E'

A    12
B    54
C    32
Name: E, dtype: int64

In [27]:
print(df.loc['B', 'D']) # Returns value in Index 'B' and Column 'D'

33

## 2. Selection by Position

**Here, the .iloc attribute is the governing parameter to select data and slicing is performed based on the position.**

In [28]:
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df)

    0   1
0  15  12
1  33  54
2  10  32

In [29]:
print(df.iloc[0:2,:]) # Slices the data from index 0 to 2

    0   1
0  15  12
1  33  54

In [30]:
print(df.iloc[:,0:1]) # Slices the data from column 0 to 1

    0
0  15
1  33
2  10

In [31]:
print(df.iloc[:,:]) # Returns all the data since no slicing done.

    0   1
0  15  12
1  33  54
2  10  32

## 3. Selection Using Regular Expression

**Regex expression comes handy to select a particular data (row/column) using filter () function.**

In [32]:
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = ['one','two','three'],
                    columns = ['col1', 'col2'])
print(df)

       col1  col2
one      15    12
two      33    54
three    10    32

In [33]:
print(df.filter(regex = 'e$', axis = 0))      # row name ending with 'e'

       col1  col2
one      15    12
three    10    32

In [34]:
print(df.filter(regex = '^c', axis = 1))      # column name starting with 'c'

       col1  col2
one      15    12
two      33    54
three    10    32

## 4. Boolean Indexing

**We can also derive condition based selection which returns the True elements and NaN for False elements i.e. where condition became results into False.**

In [35]:
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df)

    0   1
0  15  12
1  33  54
2  10  32

In [36]:
print(df[df >= 15])

      0     1
0  15.0   NaN
1  33.0  54.0
2   NaN  32.0