# Merging

### There are few more commonly used methods involved in Pandas as listed:

- Merging

- Reshaping

- Pivot Tables

- Grouping

**Given two datasets from a conducted experiment with each dataset having its own feature.  
Our task is to form a single dataset combining all the features particular to each observation. To do so we can take help of concat() function.**

In [7]:
import numpy as np
import pandas as pd

In [8]:
data1 = pd.DataFrame([[15, 12, -3],
                    [33, 54, 21],
                    [10, 32, 22]],
                    columns = list('ABC'))

In [9]:
data2 = pd.DataFrame([[10, 1, 3],
                    [33, -54, 2],
                    [10, 0.32, 2]],
                    columns = list('DEF'))

In [10]:
print(data1)

    A   B   C
0  15  12  -3
1  33  54  21
2  10  32  22

In [11]:
print(data2)

    D      E  F
0  10   1.00  3
1  33 -54.00  2
2  10   0.32  2

**Now we use the concat() method to merge the two data sets.**

In [12]:
print(pd.concat( [data1,data2], axis = 1 ))

    A   B   C   D      E  F
0  15  12  -3  10   1.00  3
1  33  54  21  33 -54.00  2
2  10  32  22  10   0.32  2

#### Suppose an individual took observation of 3 different features in two instances. Next, she wants to combine all these samples to form a single dataset. We can achieve this task using the same concat() function, but this time with the change of axis.

In [13]:
data1 = pd.DataFrame(np.random.randn(9).reshape(3,3),
                   columns = list('ABC'))
data2 = pd.DataFrame(np.arange(9).reshape(3,3),
                   columns = list('ABC'))

In [17]:
print(data1)

          A         B         C
0 -1.089263 -0.411981  0.468483
1 -0.723059  0.405680  0.746161
2  0.156932  0.573592 -0.275530

In [18]:
print(data2)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [19]:
print(pd.concat( [data1,data2], axis = 0 ))

          A         B         C
0 -1.089263 -0.411981  0.468483
1 -0.723059  0.405680  0.746161
2  0.156932  0.573592 -0.275530
0  0.000000  1.000000  2.000000
1  3.000000  4.000000  5.000000
2  6.000000  7.000000  8.000000