## Grouping

#### To understand grouping, a concept similar to databases, let us consider that we have been given a dataset for the sales of laptop and desktop systems. 

#### The observations for a particular type can be repeated for the different sales price. In this case, if we need to calculate the total sales of each category then we can group similar data and apply a certain function.

#### To do so we create a sample dummy dataset and sum up the total sales particular to each category.

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame([["Laptop", 1000],
                   ["Laptop", 2520],
                   ["Desktop", 3000],
                   ["Desktop", 400]], columns = ['Category','Sales'])

In [7]:
print(df)

  Category  Sales
0   Laptop   1000
1   Laptop   2520
2  Desktop   3000
3  Desktop    400

In [8]:
print(df.groupby(['Category'], sort = False).sum())

          Sales
Category
Laptop     3520
Desktop    3400